@import "../../styles/colors";

.shuttle-container {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .shuttle--rail {
    position: relative;
    border-bottom: 1px solid $nav-color-inactive;
  }

  .shuttle-slider {
    position: absolute;
    border-bottom: 1px solid $nav-color-active;
  }
}