@import "../../styles/colors";

.shuttle-container {

  pointer-events: none;

  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;

  .shuttle--rail {
    position: relative;
  }

  .shuttle--line {
    z-index: 1;
    position: absolute;
    display: block;

    left: 0;
    bottom: 0;

    width: 100%;

    border-bottom: 2px solid $bar-color-inactive;
  }

  .shuttle--slider {
    @extend .shuttle--line;

    width: 0;

    border-bottom: 1px solid $nav-color-active;
  }

}